@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grid-bg {
  background: linear-gradient(
      white,
      white 49.5%,
      rgba(0, 0, 0, 0.2) 49.5%,
      rgba(0, 0, 0, 0.2) 50.5%,
      white 50.5%,
      white
    ),
    linear-gradient(
      90deg,
      white,
      white 49.5%,
      rgba(0, 0, 0, 0.2) 49.5%,
      rgba(0, 0, 0, 0.2) 50.5%,
      white 50.5%,
      white
    );
  background-size: 100px 100px, 100px 100px;
  background-position: center center;
}
